@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #1e2227;
  color: #f5f6fa;
}
.length-controls{
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
  margin-top: 80px;
}
.length-control {
  text-align: center;
}
.container {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  height: 100vh;

 }
 .title {
  font-family: 'Kaushan Script', cursive;
  margin: 30px 0 50px 0;
 }
 .timer {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
 }
 #timer-label {
  font-size: 40px;
 }
 #time-left {
  font-family: Roboto;
  font-size: 100px;
  margin: 70px 0 70px 0;
 }
 .timer-wrapper {
   z-index: 10;
 }
 .timer-control {
  display: flex;
  justify-content: space-evenly;
 }
 #start_stop {
  background-color: transparent;
  color: #f5f6fa;
  border: 1px solid #f5f6fa;
  border-radius: 50px;
  font-size: 10px;
  width: 50px;
  height: 50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
 }
 #start_stop:hover {
  background-color: #f5f6fa;
  color: #2f3338;
 }
 #start_stop:active {
  background-color: #f5f6fa;
  color: #2f3338;
  outline: none;
  border: none;
 }
 #start_stop:focus {
  outline: none;
 }

 #reset {
  background-color: transparent;
  color: #f5f6fa;
  border: 1px solid #f5f6fa;
  border-radius: 50px;
  font-size: 10px;
  width: 50px;
  height: 50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
 }
 #reset:hover {
  background-color: #f5f6fa;
  color: #2f3338;
 }
 #reset:active {
  background-color: #f5f6fa;
  color: #2f3338;
  outline: none;
  border: none;
 }
 #reset:focus {
  outline: none;
 }
 .controllers {
  display: flex;
  align-items: center;
 }
 .length-control button {
  background-color: transparent;
  color: #f5f6fa;
  border: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
 }
 #break-length {
  width: 70px;
  font-size: 40px;
  margin: 0 10px 0 10px;
  background: #2f3338;
 }
 #break-label {
  font-size: 20px;
  margin-bottom: 10px;
 }
 #break-decrement {
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   position: relative;
   right: 0px;
   cursor: pointer;
 }
 #break-increment {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  left: 0px;
  cursor: pointer;
}
 #break-decrement:hover{
  right: 10px;
  color: #4cd137;
 }
 #break-decrement:active{
  color: #f5f6fa;
  outline: none;
 }
 #break-decrement:focus {
  outline: none;
 }
 #break-increment:hover{
  left: 10px;
  color: #4cd137;
 }
 #break-increment:active{
  color: #f5f6fa;
  outline: none;
 }
 #break-increment:focus {
  outline: none;
 }
 #session-length {
  width: 70px;
  font-size: 40px;
  margin: 0 10px 0 10px;
  background: #2f3338;
 }
 #session-label {
  font-size: 20px;
  margin-bottom: 10px;
 }
 #session-decrement {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  right: 0px;
  cursor: pointer;
}
#session-increment {
 transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 position: relative;
 left: 0px;
 cursor: pointer;
}
#session-decrement:hover{
 right: 10px;
 color: #4cd137;
}
#session-decrement:active{
 color: #f5f6fa;
 outline: none;
}
#session-decrement:focus {
 outline: none;
}
#session-increment:hover{
 left: 10px;
 color: #4cd137;
}
#session-increment:active{
 color: #f5f6fa;
 outline: none;
}
#session-increment:focus {
 outline: none;
}
 svg {
  transform: scale(2.5);
  position: absolute;
}
#grey-bar {
  stroke-dashoffset: 1265.48;
  stroke: #cecece;
  stroke-width: 0.05em;
}
#bar {
  transition: stroke-dashoffset 1s cubic-bezier(.25,.8,.25,1);
  stroke-width: 0.10em;
  transform-origin: 150px 150px;
  transform: rotate(270deg);
  animation: bar 3s;
}


@keyframes bar {
  0%   {stroke-dashoffset: 630;}
  100% {stroke-dashoffset: 0;}
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 550px) {
  svg{
    transform: scale(1.4);
  }
  .timer {
    height: 300px;
    width: 100%;
  }
  #time-left {
    margin: 10px 0 10px 0;
  }
  #timer-label{
    font-size: 30px;
  }
  #start_stop{
    width: 40px;
    height: 40px;
  }
  #reset{
    width: 40px;
    height: 40px;
  }
}
